.leaflet-control-layers-list label {
    white-space: nowrap;
}

.leaflet-control {
    user-select: none;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none !important;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65) !important;
}

.leaflet-control-layers label input + span {
    display: inline-block;
    max-width: 250px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
    .leaflet-control-layers {
        background: #222 !important;
        color: #fff !important;
    }

    .leaflet-control-layers-separator {
        border-top: 1px solid #444 !important;
    }

    .leaflet-container a {
        color: #0090ff !important;
    }

    .leaflet-container a:hover {
        color: #7fc7ff !important;
    }

    .leaflet-bar a:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .leaflet-bar a:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: none !important;
    }

    .leaflet-bar a:not(.leaflet-control-layers-toggle):not([style*='background-image']) {
        background: #222 !important;
        color: #fff !important;
        border-bottom: 1px solid #444 !important;
    }

    .leaflet-bar a:not(.leaflet-control-layers-toggle):not([style*='background-image']):hover,
    .leaflet-bar a:not(.leaflet-control-layers-toggle):not([style*='background-image']):focus {
        background-color: #000 !important;
        color: #fff !important;
    }

    .leaflet-bar a.leaflet-disabled {
        background-color: #333 !important;
        color: #bbb !important;
    }

    .leaflet-control-attribution {
        background: rgba(0, 0, 0, 0.7) !important;
        color: #fff !important;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    }

    input[type='radio'].leaflet-control-layers-selector,
    input[type='checkbox'].leaflet-control-layers-selector {
        filter: invert();
    }

    .leaflet-touch .leaflet-control-layers,
    .leaflet-touch .leaflet-bar {
        border: 2px solid rgba(255, 255, 255, 0.1) !important;
    }

    .leaflet-control-layers-expanded {
        background: #222 !important;
        color: #fff !important;
    }

    .leaflet-control-layers-toggle {
        background-color: white !important;
        filter: invert(1) !important;
    }

    .leaflet-control-layers-toggle:hover {
        background-color: #f4f4f4 !important;
        filter: invert(1) !important;
    }

    /* Function buttons with background images (menu button) */
    .leaflet-top.leaflet-left .leaflet-bar a[style*='background-image'] {
        filter: invert(1) !important;
    }

    .leaflet-top.leaflet-left .leaflet-bar a[style*='background-image']:hover {
        filter: invert(1) brightness(0.8) !important;
    }
}
